
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  color: #333;
}